body {
  margin: 0;
  font-family: Verdana, sans-serif;
}

.logo {
  display: block;
  width: 25vw;
  margin: 1rem auto 1rem auto;
}

.site-header {
  display: block;
  font-family: "Raleway";
  text-align: center;
  margin: 1rem auto 1rem auto;
}

.merch-item {
  font-size: 1rem;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 3rem;
  border-bottom: 1px solid #d2d2d2;
}

.item-details {
  display: flex;
  align-items: center;
  gap: 20px;
}

.items {
  margin: auto;
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  padding: 20px;
  /* background-color: aqua; */
  width: 75%;
}

.item-name {
  margin-top: 0;
  margin-bottom: 5px;
}

.item-price {
  margin-top: 0.5rem;
  margin-bottom: 2rem;
}

.item-image {
  display: flex;
  width: 15vw;
}

.gg-add {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.order-title {
  text-align: center;
  margin: 1rem auto 1rem auto;
}

.cart {
  width: 80%;
  border: 1px solid black;
  margin: auto auto 2rem auto;
}

.cart-item {
  display: flex;
  justify-content: space-between;
  padding: 1.5rem;
}

.remove {
  display: flex;
}

.cart-item-name,
.cart-item-price,
.remove {
  margin: auto 0 auto 0;
}

.total-cost-text {
  padding-left: 1.5rem;
}

.total-cost-price {
  padding-right: 1.5rem;
}

.total-cost-container {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid black;
}

.btn {
  font-family: Verdana, Inter, sans-serif;
  display: block;
  background-color: #9fd3c7;
  font-size: 1rem;
  color: #ffffff;
  margin: 1.7rem auto 1.7rem auto;
  border: none;
  border-radius: 0.2rem;
  text-align: center;
  width: 70%;
  padding: 1rem;
  cursor: pointer;
}

.pay-btn {
  width: 100%;
}

.modal {
  z-index: 10;
  display: flex;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.4);
  justify-content: center;
  align-items: center;
  /* position: fixed;
  top: 50%;
  bottom: 0;
  right: 50%;
  left: 0;
  width: 200%;
  height: 430px;
  */
}

.modal-content {
  font-family: Verdana, Inter, sans-serif;
  font-weight: bold;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0px 0px 40px 2px #666;
  padding: 20px 40px;
  color: black;
}

.modal-input {
  display: block;
  width: 100%;
  margin: 1rem auto 1.5rem auto;
  padding: 1.2rem;
  box-sizing: border-box;
  font-size: 1.2rem;
  border: 1.7px solid #757575;
  border-radius: 0.3rem;
}

.modal-title {
  text-align: center;
  font-size: 1.7rem;
}

.hidden {
  display: none;
}

::placeholder {
  color: #757575;
}
