body {
    margin: 0;
    font-family: Inter, sans-serif;
}

.logo {
    display: block;
    margin: 1rem auto 1rem auto;
    width: 25vw;
    /* text-align: center; */
}

.merch-item {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 20px;
    border-bottom: 1px solid black;
}

.items {
    margin: auto;
    display: flex;
    flex-direction: column;
    padding: 20px;
    /* background-color: aqua; */
    width: 75%;
}

.item-name {
    margin-top: 0;
    margin-bottom: 5px;
}

.item-price {
    /* margin: 0;/ */
}

.gg-add {
    display: flex;
    justify-content: center;
}

/* .item-details {
    display: inline;
} */